.headerWrapper{
    position: fixed;
    width: 100%;
    z-index: 999;
}

.bg-color{
    background-color:grey
}

.navbar-nav > .nav-item{
    margin-left: 25px;
    margin-right: 25px;
}

.navbar-brand{
    margin-left: 25px;
}